body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
}

section {
    padding: 20px;
}

section .giaythethao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product p{
    color: #B22222;
}
.product {
    width: calc(33.3% - 10px);
    margin-bottom: 50px;

    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

h1,
h2,
h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #555;
    color: white;
}
marquee .slide img{
    
    width: 300px;
    height: 300px;
}
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}